/UD03/01B-BookAuthorAurreratua/nbproject/private/
/UD03/01B-BookAuthorAurreratua/build/
/UD03/02-PointEtab/nbproject/private/
/UD03/02-MyPointEtab/nbproject/private/
/UD03/02-MyPointEtab/build/
/UD03/03-CylinderCircle/nbproject/private/
/UD03/04-Futbola-Herentzia/nbproject/private/
/UD03/04-Futbola-Herentzia/build/
/UD03/2020-02-18Hasierakoa/nbproject/private/
/UD03/2020-02-18Hasierakoa/build/
/UD03/05-Erosketak/nbproject/private/
/UD03/ErosketakAbstract/nbproject/private/
