/UD03/01B-BookAuthorAurreratua/nbproject/private/
/UD03/01B-BookAuthorAurreratua/build/
/UD03/02-PointEtab/nbproject/private/
/UD03/02-MyPointEtab/nbproject/private/
/UD03/02-MyPointEtab/build/
/UD03/03-CylinderCircle/nbproject/private/
/UD03/04-Futbola-Herentzia/nbproject/private/
/UD03/04-Futbola-Herentzia/build/
/UD03/2020-02-18Hasierakoa/nbproject/private/
/UD03/2020-02-18Hasierakoa/build/
/UD03/05-Erosketak/nbproject/private/
/UD03/ErosketakAbstract/nbproject/private/
/UD03/2021-01-25/nbproject/private/
/UD03/2021-01-25AsierBlazquez/nbproject/private/
/UD03/2021-01-25Template/nbproject/private/
/UD03/2021-01-25Template/build/
/UD03/TicTacToe/nbproject/private/
/UD03/TicTacToe/build/
/UD03/TicTacToeOriented/nbproject/private/
/UD03/TicTacToeOriented/build/
/UD03/TicTacToeGUI/nbproject/private/
/UD03/TicTacToeGUI/build/
/JOLASAK/PintuPrueba/nbproject/private/
/JOLASAK/PintuPrueba/build/
/JOLASAK/Jokua/nbproject/private/
/JOLASAK/Jokua/build/
/JOLASAK/DibujoEnCanvas/nbproject/private/
/JOLASAK/DibujoEnCanvas/build/
/JOLASAK/Java-Paint-Application-master/build/
/JOLASAK/Java-Paint-Application-master/nbproject/private/
/JOLASAK/Jokua/dist/
/JOLASAK/click/nbproject/private/
/JOLASAK/click/build/
/JOLASAK/Marrazkitz/nbproject/private/
/JOLASAK/LagunakFitxategiak/nbproject/private/
/JOLASAK/LagunakFitxategiak/build/
/UD04/Hiztegia/nbproject/private/
/UD04/Hiztegia/build/
/UD04/Hiztegia/dist/
/UD04/HiztegiaSQLite/nbproject/private/
/UD04/HiztegiaSQLite/build/
